#body,html {
    margin:0px;
    width: 414px;
  
}

/* ALL OF THIS IS IN THE NAVAGATION AREA----------------------------------------------*/
.main{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}




 

  /*-------ABOUT ME SECTION BELOW THIS LINE---------------------------------------*/

 #pic-div{
   justify-content: center;
   justify-items: center;
 }

  .profile_pic{
     justify-self: center;
     width: 200px;
     height:250px;
    padding-top: 20px;
  
  }    
  
  

  .aboutme_title{

    color: black;
    flex:1;
    text-align: center;


  }

  .aboutme_box1{

    text-align: justify;
    padding-top:60px;
    padding-left: 100px;
    padding-right:100px ;

    flex:1;
  }

.aboutme_box2{

  flex:2;
}


 
.intro-text{
  text-align: center;
}

.lg-bold-text{
  font-size: 3rem;
  font-weight: 700;
}

.project-section{
  display: grid;
  grid-template-columns: 1fr;
}

.projects{
  border: 1px solid gray;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
 
}

.project-card{
  border: 1px solid blue;
  height: 300px;
  width: 320px;
  margin: 10px;
 
}